* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* The Header Bar Buttons */
.header-bar {
    color: rgb(255, 255, 255, 0.2);
    background-color: rgb(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    position: fixed;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    border: 4px solid rgba(255, 255, 255, 0.2);
    top: 10;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 1;
    height: 60px auto;
    padding-bottom: 4px;
}
.header-bar:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(68, 0, 255);
    border: 4px solid rgba(255, 255, 255);
}
.btn-intro {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(131, 0, 113, 0.4);
    margin: 0px 15px 0px 3px;
    padding: 0px 8px 0px 8px;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border: 2px solid rgba(128, 128, 128, 0.4);
}
.btn-intro:hover {
    color: rgba(131, 0, 113);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(131, 0, 113);
}
.fa-solid {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.fa-solid:hover {
    text-shadow: 2px 2px rgb(0, 0, 0);
}

/* The Header Bar Images */
#myImg {
    opacity: 0.4;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {
    opacity: 1;
}
.modal {
    display: none;
    z-index: 1;
    padding-top: 100px;
    float: right;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    margin-left: 3px;
    margin-right: 10px;
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/images/art_image_big_night_stars.jpg');
    background-size: cover;
    background-position: center;
}

.sign {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-word {
    font-size: 5.6rem;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
}
    to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
}
}

.my-5 {
    color:rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    text-align: center;
    transition: all 0.3s ease;
    height: 40px;
    margin: auto;
}

.h2-one {
    color:rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-shadow: 2px 2px rgb(38, 38, 38);
    text-align: left;
    margin: 70px 20px auto;
}

.form-group {
    color:rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-shadow: 1px 1px rgb(38, 38, 38);
    text-align: left;
}

/* The Create Task Button */
.btn-primary {
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 214, 0, 0.8);
    border: 2px solid rgb(255, 255, 255, 0.5);
    margin: 4px 4px 0px 0px;
    padding: 4px;
    height: 50px;
    box-shadow: 4px 4px 4px rgb(4, 80, 0);
    transition: all 0.3s ease;
}
.btn-primary:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(43, 255, 0);
    border: 4px solid rgb(255, 255, 255);
    margin: 4px 4px 0px 0px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgb(13, 255, 0, 0.5);
}

.container {
    color: rgb(255, 255, 255);
    background: rgba(61, 109, 253, 0.1);
    margin: 4px auto;
    padding: 7px auto;
    margin-top: 20px;
    border: 1px solid rgba(61, 109, 253, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    text-align: center;
}

.h2-two {
    color:rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-shadow: 2px 2px rgb(0, 0, 0);
    text-align: left;
}

.sign2 {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    text-align: center;
    transition: all 0.3s ease;
    height: 120px;
}
.sign-word2 {
    font-size: 5.6rem;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
}
    to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
}
}

.jumbotron {
    color: rgb(255, 255, 255);
    background: rgba(61, 109, 253, 0.1);
    margin: 4px;
    padding: 7px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
    text-align: center;
    border: 1px solid rgba(61, 109, 253, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

div#list-items {
    background: rgba(0, 255, 64, 0.2);
    margin: 4px;
    padding: 7px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 255, 42, 0.3);
    height: 430px;
}

.list-group-item {
    color: rgb(255, 255, 255);
    background-color:rgba(11, 35, 213, 0.3);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 4px 4px 4px rgb(0, 41, 80);
    background-image: url('/images/art_image_galaxy_below.jpg');
    background-size: cover;
    background-color: black;
    margin: 4px auto;
}

.card {
    color: rgb(255, 255, 255);
    background-color:rgba(11, 35, 213, 0.3);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 4px 4px 4px rgb(0, 41, 80);
    background-size: cover;
    background-color: black;
    display: grid;
}

.card-body {
    background-color:rgba(146, 146, 146, 0.1);
}

h5 {
    background: rgba(38, 0, 255, 0.4);
    margin: 4px;
    padding: 10px 10px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

assigned-plus-date {
    background: rgba(82, 189, 255, 0.1);
    margin: 4px;
    padding: 5px 5px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

/* The Created Task's Description Box */
.list-group-item p {
    background: rgba(0, 0, 0, 0.6);
    margin: 4px;
    padding: 5px 5px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

/* The Delete Task Button */
.delete-button {
    height: 40px;
    color: white;
    background-color: rgba(214, 0, 0, 0.8);
    border: 2px solid rgb(255, 255, 255);
    margin: 4px 4px 0px 0px;
    padding: 4px;
    height: 40px;
    width: 80px;
    box-shadow: 4px 4px 4px rgba(72, 69, 69, 0.5);
    transition: all 0.3s ease;
}
.delete-button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.5);
}

/* The Mark Task As Done Button */
.done-button {
    height: 40px;
    color: white;
    background-color: rgba(0, 4, 255, 0.5);
    border: 2px solid rgb(255, 255, 255);
    margin: 4px 4px 0px 0px;
    padding: 4px;
    height: 40px;
    width: 120px;
    box-shadow: 4px 4px 4px rgba(72, 69, 69, 0.5);
    transition: all 0.3s ease;
}
.done-button:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 4, 255);
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(60, 0, 255, 0.5);
}

/* The Task Incomplete Indicator */
.badge-danger {
    color: rgb(255, 0, 0);
    transition: all 0.3s ease;
}
.badge-danger:hover {
    background-color: rgb(0, 0, 0, 0.6);
}

/* The Task Done Indicator */
.badge-success {
    color: rgb(0, 242, 255);
    border: 4px solid rgb(0, 242, 255, 0.9);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    animation: neon .08s ease-in-out infinite alternate;
}
@keyframes neon {
    from {
        text-shadow:
        0 0 6px rgba(202,228,225,0.92),
        0 0 30px rgba(202,228,225,0.34),
        0 0 12px rgba(30,132,242,0.52),
        0 0 21px rgba(30,132,242,0.92),
        0 0 34px rgba(30,132,242,0.78),
        0 0 54px rgba(30,132,242,0.92);
    }
    to {
        text-shadow:
        0 0 6px rgba(202,228,225,0.98),
        0 0 30px rgba(202,228,225,0.42),
        0 0 12px rgba(30,132,242,0.58),
        0 0 22px rgba(30,132,242,0.84),
        0 0 38px rgba(30,132,242,0.88),
        0 0 60px rgba(30,132,242,1);
    }
}

.card-title {
    background-color:rgba(51, 38, 239, 0.5);
    border: 1px solid rgb(255, 255, 255);
    padding: 2px;
    text-shadow: 1px 1px rgb(38, 38, 38);
}

.card-text {
    border: 1px solid rgb(255, 255, 255, 0.7);
    padding: 2px;
    margin: 2px;
    text-shadow: 1px 1px rgb(38, 38, 38);
    box-shadow: 1px 1px rgb(4, 80, 0);
}

/* FOOTER CSS: White-Rainbow-Black L-R Transition */
.footer-text {
    color: rgb(255, 255, 255);
    background-color: rgba(113, 113, 113, 0.2);
    background-image: -webkit-linear-gradient(left, rgba(223, 28, 28, 0.3) 20%, #ebc630 37.5%, #e48156, #b67a7f 62.5%, white 75%);
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 25%, #e0c55c 37.5%, #e48b65, #ad7277 62.5%, rgb(0, 0, 0, 0.3) 75%);
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
    border: 4px solid rgba(255, 255, 255, 0.2);
    bottom: 0;
    position: fixed;
    width: 100%;
    transition: all 0.3s ease;
    background-position: right center;
    background-size: 400% auto;
    border-radius: 8px 8px 0px 0px;
}
.footer-text:hover {
    color: rgb(255, 255, 255);
    background-color: gradient(to bottom, rgb(11, 213, 71), rgb(4, 88, 255), red);
    border: 4px solid rgb(255, 255, 255, 0.8);
    background-position: left center;
    transition: background-position 2000ms ease-out;
}
.footer-icon, a:link {
    padding: 0px 10px 0px;
    margin: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* FOOTER LINKEDIN ICONS: Simple transition from white to blue on hover */
.fa-linkedin:hover {
    color: #0072b1;
    transition: all 0.3s ease;
}
