html {
    background-color: rgb(246, 246, 120);
}

body {
    background-color: rgb(116, 239, 116);
}

h1 {
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: rgb(252, 166, 105);
    font-size: 32px;
    font-weight: italic;
}

.nav a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: blue;
}

.nav li {
    display: inline;
}

.nav {
    padding-top: 24px;
    padding-right: 24px;
}

.nav a:hover {
    color: gold;    
}

.container-fluid {
    border: 12px solid;
    border-color: purple;
}

.accordion-button {
    color: red;
    background-color: magenta;
    font-weight: bold;
    position: relative;
}

.accordion {
    color: black;
    font-weight: bold;
}

.accordion-item {
    background-color: green;
}

.form-task {
    background-color: orange;
}

.card {
    color: pink;
    background-color: black;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}

.btn-primary {
    color: white;
    background-color: green;
}

footer {
    text-align: center;
    color: gray
}
