/* Header */
header {
    text-align: left;
}


paragraph {
    text-align: center;
    color: white;

}



/* Footer */
footer {
    text-align: center;
    color: gray
}

/* To Confirm CSS To HTML Linkage */
.test-css-file-01 {
    color: orange;
    background-color: black;
    text-align: center;
}
